* {
    margin: 0%;
}

header{
    text-align: center;
}

body {
    background-image: url(images/wp.jpg);
}

table,
td {
    border: 1px solid rgb(173, 75, 75);
}

thead,
tfoot {
    background-color: rgb(89, 89, 89);
    color: #fff;
}
aside.tpt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(91, 74, 74);
    background-color: rgb(187, 196, 206);
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 7%;
}
