:root{
    margin: 0px;
    background: rgba(159, 238, 242, 0.606);
}

header {
    text-align: center;
    position: relative;
    animation: commencerh 1s;
    animation-play-state: paused;
    }
    h1, h3{
        animation: apparition 0.8s ease-out;
    }

button{
    background-color: transparent;
    border-color: white;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 200px;
    margin-top: 20px;
}
.netflix{
    max-width: 100%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  div ul li{
    list-style: none;
  }
  div ul li img {
    width: 190px;
    height: 190px;
    object-fit:contain;
    object-position:center;
    transition-property: all;
    transition-duration: 800ms;
  }
  div ul li :hover{
    width: 250px;
    height: 320px;
  }
.container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: block mandatory;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    height: 100vh;
    scroll-snap-align: center;
}


@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

nav ul{
    padding: 1em;
    list-style: none;
    background-color: rgb(216, 230, 230);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav{
    position: sticky;
    top: 0;
}
ul li a{
    position: relative;
    padding: 1em;
    border-radius: 9px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: 500ms;
}
ul li a:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
}
h2{
    display: flex;
    text-align: center;
    margin: 2em;
}
article{
    font: 20px bold;
    padding: 2em;
}
dl{
    padding: 1em;
    border-color: white;
    border-radius: 7px;
}
dd{
    font: 18px arial;
}
